/* width/height 100% to fill full screen */
#root,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*  UI is the html overlay */
.ui {
    font-size: 4.4vw;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}